## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="pheader" file="post_header.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="post.tmpl"/>

<%block name="content">
<header>
   <div class="container">
      <div class="row">
         <div class="col-lg-12">

            %if logo_url:
            <img src="${logo_url}" alt="${blog_title|h}" id="logo" height="160px">
            %endif

            <h1 class="p-name entry-title" itemprop="headline name">${blog_title|h}
               %if blog_description:
               <br/>
               <small>${blog_description}</small>
               %endif
            </h1>

         </div>
      </div>
   </div>
</header>
${helper.mathjax_script(post)}
</%block>
